.navbar-static-top,.row{
  margin:20px 20px;
}

.col-sm-8 .tabbable .nav-tabs {
  background-color: #fff95a;
  border-width:0.1px 1px 1px 0;
  border-style:solid;
  border-radius:5px
}

.col-sm-8 > .tabbable > .tab-content {
  border-bottom:2px solid black;
  border-left:2px solid black;
  border-right:2px solid black;
  border-top:0 solid black;
  border-radius:5px
}
#github{
  height:33px;
  cursor:pointer;
  position: absolute;
  right: 30px;
  top: 20px;
}
#logo{
  color:blue;
}
#panelTitle{
  text-align:center;
  font-weight: bold;
  font-size:18px;
}


.visualizing_the_data{
  color:red;
}

#uploadFiles{
  height:464px;
}
#uploadFiles > .shiny-input-container{
  padding-top:80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}
#subTabPanel1{
  background-color :#f8f67b;
}
.shiny-input-container{
  height:100%;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.form-group{
  width:100%;
}
.shiny-html-output{
  width: 100%;
  margin: auto auto;
  
}
.tab-pane{
  text-align:center;
   height:100%;
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.tab-pane > .shiny-html-output{
   width: 100%;
  margin: auto auto;
}
#tableView{
  text-align:center;
  background-color:red;
}

/*------------------------------------------------------------*/
.contact-image img{
    width: 10%;
    margin-top: .5%;
}
/*body {
   background-color: #f2f2de;
}*/
.active .fa-2x {
  color:#fcac16;
}
*:focus{
  outline: none;
}
.js-irs-0 .irs-single, .js-irs-0 .irs-bar-edge, .js-irs-0 .irs-bar {background: #fcac16}
.js-irs-1 .irs-single, .js-irs-1 .irs-bar-edge, .js-irs-1 .irs-bar {background: #fcac16}
.js-irs-2 .irs-single, .js-irs-2 .irs-bar-edge, .js-irs-2 .irs-bar {background: #fcac16}
.js-irs-3 .irs-single, .js-irs-3 .irs-bar-edge, .js-irs-3 .irs-bar {background: #fcac16}
.js-irs-4 .irs-single, .js-irs-4 .irs-bar-edge, .js-irs-4 .irs-bar {background: #fcac16}


#matrixChart{
  background-color:transparent}
#scatterChart{
  background-color:transparent
}
.tab-pane .active{
  background-color:white;
}


/*
#loader { 
    border: 2px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 5px solid #444444; 
    width: 70px; 
    height: 70px; 
//animation: spin 5s linear infinite;
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: linear;
    z-index:10000;
} 
*/
  
  
  
  
  
/*  #loader { 
    border: 2px solid #f3f3f3; 
    border-radius: 50%; 
    border-top: 5px solid #444444; 
    width: 70px; 
    height: 70px; 
    animation: spin 5s linear infinite;*
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: linear;

} */




#loader {
/*  background-image:url('https://cdn.dribbble.com/users/634508/screenshots/2172083/ebookdribbble7.gif');*/
  display: inline-block;
  width: 80px;
  height: 80px;
  z-index:10000;
  position: absolute; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  margin: auto; 
}
#loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background-color: black;
  animation: lds-facebook 1.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
#loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
#loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
#loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}


/*@keyframes spin { 
    100% { 
        transform: rotate(520deg); 
    } 
} */
  
/*.center { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
} 

*/



/*


#oone{
  height:200px;
  width:200px;
  background-color:red;
  display:none;
}


.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}














*/